body {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .menu {
  width: 273px;
  background-color: #353541;
  min-height: 100%;
}
body .menu .myPhoto {
  width: 100%;
  height: 253px;
  background-image: url(../img/519.jpg);
  background-size: 100% 100%;
}
body .menu nav ul {
  padding-left: 0px;
}
body .menu nav ul li {
  margin: 0 auto;
  list-style: none;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #131321;
  text-align: center;
}
body .menu nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 62px;
}
body .mainConteiner {
  min-width: 500px;
  max-width: 1075px;
  box-sizing: border-box;
}
body .mainConteiner .main {
  width: 100%;
  height: 391px;
  background-image: url(../img/header.jpg);
  background-size: cover;
  box-sizing: border-box;
  padding-top: 70px;
  text-align: center;
}
body .mainConteiner .main h1 {
  color: #ffffff;
  font-family: "Raleway - Semi Bold";
  font-size: 48px;
  font-weight: 400;
  line-height: 36.48px;
  text-align: center;
  margin-bottom: 128px;
}
body .mainConteiner .main button {
  background: none;
  padding: 10px;
  color: #ffffff;
  font-family: "Raleway - Semi Bold";
  font-size: 28px;
  font-weight: 400;
  line-height: 36.48px;
}
body .mainConteiner .main .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
body .mainConteiner .main .modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  border-radius: 10px;
}
body .mainConteiner .main .modal .modal-content p {
  color: #3e3e3e;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
}
body .mainConteiner .main .modal .modal-content form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .mainConteiner .main .modal .modal-content form input {
  max-width: 90%;
  height: 37px;
  margin-bottom: 28px;
  opacity: 0.8;
  color: #3e3e3e;
  font-family: "Raleway - Medium Italic";
  font-size: 14px;
}
body .mainConteiner .main .modal .modal-content form textarea {
  max-width: 90%;
  height: 98px;
  resize: none;
  opacity: 0.8;
  color: #3e3e3e;
  font-family: "Raleway - Medium Italic";
  font-size: 14px;
  padding-top: 10px;
}
body .mainConteiner .main .modal .modal-content form button {
  margin: 0 auto;
  padding: 0;
  margin-top: 25px;
  width: 95px;
  height: 35px;
  background-color: #fb6470;
  color: #ffffff;
  font-family: Raleway;
  font-size: 16px;
}
body .mainConteiner .main .modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
body .mainConteiner .main .modal .modal-content .close:hover,
body .mainConteiner .main .modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
body .mainConteiner .about,
body .mainConteiner .education,
body .mainConteiner .expirience,
body .mainConteiner .portfolio,
body .mainConteiner .contacts {
  width: 100%;
  padding-left: 115px;
  padding-top: 79px;
  box-sizing: border-box;
  padding-right: 50px;
}
body .mainConteiner .about h2,
body .mainConteiner .education h2,
body .mainConteiner .expirience h2,
body .mainConteiner .portfolio h2,
body .mainConteiner .contacts h2 {
  color: #3e3e3e;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 500;
  line-height: 50px;
  border-bottom: 1px solid #fb6470;
  padding-bottom: 18px;
}
body .mainConteiner .about h3,
body .mainConteiner .education h3,
body .mainConteiner .expirience h3,
body .mainConteiner .portfolio h3,
body .mainConteiner .contacts h3 {
  margin-top: 48px;
  color: #3e3e3e;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
}
body .mainConteiner .portfolio {
  width: 100%;
}
body .mainConteiner .portfolio .frameContainer {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body .mainConteiner .portfolio .frameContainer .portfolioFrame {
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  border: 1px solid #525052;
  margin-left: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 63px 14px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 0px 63px 14px rgba(0, 0, 0, 0.69);
}
body .mainConteiner .portfolio .frameContainer .portfolioFrame h3 {
  text-align: center;
  margin-top: 10px;
}
body .mainConteiner .portfolio .frameContainer .portfolioFrame a {
  text-decoration: none;
}
body .mainConteiner .portfolio .frameContainer .portfolioFrame img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
body .mainConteiner .contacts {
  width: 100%;
}
body .mainConteiner .contacts .contactContainer {
  display: flex;
  flex-wrap: wrap;
}
body .mainConteiner .contacts .contactContainer .contactsLeftPart {
  width: 50%;
  max-width: 600px;
}
body .mainConteiner .contacts .contactContainer .contactsLeftPart form {
  border-right: 2px solid #525052;
  padding-right: 78px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .mainConteiner .contacts .contactContainer .contactsLeftPart form input {
  max-width: 90%;
  height: 37px;
  margin-bottom: 28px;
  opacity: 0.8;
  color: #3e3e3e;
  font-family: "Raleway - Medium Italic";
  font-size: 14px;
}
body .mainConteiner .contacts .contactContainer .contactsLeftPart form textarea {
  max-width: 90%;
  height: 98px;
  resize: none;
  opacity: 0.8;
  color: #3e3e3e;
  font-family: "Raleway - Medium Italic";
  font-size: 14px;
  padding-top: 10px;
}
body .mainConteiner .contacts .contactContainer .contactsLeftPart form button {
  margin-top: 25px;
  width: 95px;
  height: 35px;
  background-color: #fb6470;
  color: #ffffff;
  font-family: Raleway;
  font-size: 16px;
}
body .mainConteiner .contacts .contactContainer .contactsRightPart {
  width: 50%;
  padding-top: 70px;
}
body .mainConteiner .contacts .contactContainer .contactsRightPart .contactFrame {
  width: 90%;
  float: right;
  height: 53px;
  margin-bottom: 57px;
}
body .mainConteiner .contacts .contactContainer .contactsRightPart .contactFrame img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 38px;
}
body .mainConteiner .contacts .contactContainer .contactsRightPart .contactFrame .text {
  color: #3e3e3e;
  font-family: Raleway;
  font-size: 18px;
  line-height: 30px;
}
body .mainConteiner footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 111px;
  margin-bottom: 50px;
}
body .mainConteiner footer .facebookIcon {
  margin-right: 10px;
  border-right: 1px solid #525052;
  padding-right: 10px;
}
body .mainConteiner footer .facebookIcon a {
  text-decoration: none;
  font-family: Font Awesome;
  font-size: 30px;
  line-height: 50px;
  color: blue;
}
body .mainConteiner footer .linkedIcon a {
  text-decoration: none;
  font-size: 30px;
  line-height: 50px;
  color: black;
}
@media (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }
  body .menu {
    width: 100%;
    max-width: 1024px;
    background-color: #353541;
    height: 100%;
  }
  body .menu .myPhoto {
    display: none;
  }
  body .menu nav {
    text-align: center;
  }
  body .menu nav ul li {
    display: inline;
    padding-right: 20px;
  }
  body .menu nav ul li a {
    text-decoration: none;
  }
  body .mainConteiner {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }
  body .mainConteiner .main {
    max-width: 1024px;
    background-image: url(../img/header2.jpg);
    background-size: 100% 100%;
    height: 477px;
  }
  body .mainConteiner .about,
  body .mainConteiner .education,
  body .mainConteiner .expirience,
  body .mainConteiner .portfolio,
  body .mainConteiner .contacts {
    max-width: 1024px;
    margin: 0 auto;
    padding-right: 50px;
  }
}
@media (max-width: 796px) {
  body .mainConteiner .portfolio {
    width: 100%;
    max-width: 796px;
  }
  body .mainConteiner .portfolio .frameContainer {
    display: flex;
    justify-content: center;
  }
  body .mainConteiner .portfolio .frameContainer .portfolioFrame {
    margin-bottom: 30px;
  }
  body .mainConteiner .contacts {
    width: 100%;
    max-width: 796px;
  }
  body .mainConteiner .contacts .contactContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  body .mainConteiner .contacts .contactContainer .contactsLeftPart {
    width: 90%;
    border: 0;
    display: flex;
  }
  body .mainConteiner .contacts .contactContainer .contactsLeftPart form input {
    max-width: 100%;
  }
  body .mainConteiner .contacts .contactContainer .contactsLeftPart form textarea {
    max-width: 100%;
  }
  body .mainConteiner .contacts .contactContainer .contactsRightPart {
    width: 90%;
    border-bottom: 1px solid black;
  }
}
